
hw0-Test-DB/backup/TESTDB.0.db2inst1.DBPART000.20220918023924.001
hw0-Test-DB/config/.shared-data/db_activated
hw0-Test-DB/config/.shared-data/setup_complete
hw0-Test-DB/config/db2fenc1/.bash_logout
hw0-Test-DB/config/db2fenc1/.bash_profile
hw0-Test-DB/config/db2fenc1/.bashrc
hw0-Test-DB/config/db2fenc1/.kshrc
hw0-Test-DB/config/db2fenc1/.mkshrc
hw0-Test-DB/config/db2inst1/.bash_logout
hw0-Test-DB/config/db2inst1/.bash_profile
hw0-Test-DB/config/db2inst1/.bashrc
hw0-Test-DB/config/db2inst1/.config/menus/applications-merged/IBM_DB2.menu
hw0-Test-DB/config/db2inst1/.ibm/db2/desktop/db2inst1.dat
hw0-Test-DB/config/db2inst1/.ibm/db2/desktop/env
hw0-Test-DB/config/db2inst1/.kshrc
hw0-Test-DB/config/db2inst1/.local/share/applications/IBM_DB2Command Line Processor Plus.desktop
hw0-Test-DB/config/db2inst1/.local/share/applications/IBM_DB2Command Line Processor.desktop
hw0-Test-DB/config/db2inst1/.local/share/applications/IBM_DB2First Steps.desktop
hw0-Test-DB/config/db2inst1/.local/share/desktop-directories/IBM_DB2.directory
hw0-Test-DB/config/db2inst1/.local/share/icons/clpplus.xpm
hw0-Test-DB/config/db2inst1/.local/share/icons/db2.xpm
hw0-Test-DB/config/db2inst1/.local/share/icons/db2folder.xpm
hw0-Test-DB/config/db2inst1/.local/share/icons/db2fs.xpm
hw0-Test-DB/config/db2inst1/.mkshrc
hw0-Test-DB/config/db2inst1/.profile
hw0-Test-DB/config/db2inst1/set_rec_values.sh
hw0-Test-DB/config/db2inst1/sqllib/.32
hw0-Test-DB/config/db2inst1/sqllib/.64
hw0-Test-DB/config/db2inst1/sqllib/.db2fmd.libdb2gcf.efda0cc63f46.lock
hw0-Test-DB/config/db2inst1/sqllib/.fm.efda0cc63f46.reg.lock
hw0-Test-DB/config/db2inst1/sqllib/.ftok
hw0-Test-DB/config/db2inst1/sqllib/.insttype
hw0-Test-DB/config/db2inst1/sqllib/.instuse
hw0-Test-DB/config/db2inst1/sqllib/acs/.keep.acs
hw0-Test-DB/config/db2inst1/sqllib/adm/.fenced
hw0-Test-DB/config/db2inst1/sqllib/adm/cielock
hw0-Test-DB/config/db2inst1/sqllib/adm/db2audit
hw0-Test-DB/config/db2inst1/sqllib/adm/db2cacpy
hw0-Test-DB/config/db2inst1/sqllib/adm/db2cap
hw0-Test-DB/config/db2inst1/sqllib/adm/db2chparm
hw0-Test-DB/config/db2inst1/sqllib/adm/db2credman
hw0-Test-DB/config/db2inst1/sqllib/adm/db2dart
hw0-Test-DB/config/db2inst1/sqllib/adm/db2dasstml
hw0-Test-DB/config/db2inst1/sqllib/adm/db2fmp
hw0-Test-DB/config/db2inst1/sqllib/adm/db2fmp32
hw0-Test-DB/config/db2inst1/sqllib/adm/db2fmpr
hw0-Test-DB/config/db2inst1/sqllib/adm/db2fmpr32
hw0-Test-DB/config/db2inst1/sqllib/adm/db2fmpterm
hw0-Test-DB/config/db2inst1/sqllib/adm/db2genp
hw0-Test-DB/config/db2inst1/sqllib/adm/db2gov
hw0-Test-DB/config/db2inst1/sqllib/adm/db2govd
hw0-Test-DB/config/db2inst1/sqllib/adm/db2govlg
hw0-Test-DB/config/db2inst1/sqllib/adm/db2havend
hw0-Test-DB/config/db2inst1/sqllib/adm/db2iclean
hw0-Test-DB/config/db2inst1/sqllib/adm/db2ida
hw0-Test-DB/config/db2inst1/sqllib/adm/db2inidb
hw0-Test-DB/config/db2inst1/sqllib/adm/db2licd
hw0-Test-DB/config/db2inst1/sqllib/adm/db2licm
hw0-Test-DB/config/db2inst1/sqllib/adm/db2linkspeed
hw0-Test-DB/config/db2inst1/sqllib/adm/db2path
hw0-Test-DB/config/db2inst1/sqllib/adm/db2pd
hw0-Test-DB/config/db2inst1/sqllib/adm/db2pdcfg
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rapp
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rappl
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rem
hw0-Test-DB/config/db2inst1/sqllib/adm/db2remot
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rfpen
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rstar
hw0-Test-DB/config/db2inst1/sqllib/adm/db2rstop
hw0-Test-DB/config/db2inst1/sqllib/adm/db2set
hw0-Test-DB/config/db2inst1/sqllib/adm/db2star2
hw0-Test-DB/config/db2inst1/sqllib/adm/db2start
hw0-Test-DB/config/db2inst1/sqllib/adm/db2stop
hw0-Test-DB/config/db2inst1/sqllib/adm/db2stop2
hw0-Test-DB/config/db2inst1/sqllib/adm/db2stst
hw0-Test-DB/config/db2inst1/sqllib/adm/db2sysc
hw0-Test-DB/config/db2inst1/sqllib/adm/db2syscr
hw0-Test-DB/config/db2inst1/sqllib/adm/db2trc
hw0-Test-DB/config/db2inst1/sqllib/adm/fencedid
hw0-Test-DB/config/db2inst1/sqllib/adm/ITLMready.properties
hw0-Test-DB/config/db2inst1/sqllib/adm/runpy.sh
hw0-Test-DB/config/db2inst1/sqllib/adm/runr.sh
hw0-Test-DB/config/db2inst1/sqllib/adsm
hw0-Test-DB/config/db2inst1/sqllib/backup/db2systm.old
hw0-Test-DB/config/db2inst1/sqllib/backup/db2systm.old.220918
hw0-Test-DB/config/db2inst1/sqllib/backup/db2systm.old.220918.0
hw0-Test-DB/config/db2inst1/sqllib/backup/db2systm.old.220919
hw0-Test-DB/config/db2inst1/sqllib/backup/db2systm.old.220919.0
hw0-Test-DB/config/db2inst1/sqllib/backup/dbmcfg.lst
hw0-Test-DB/config/db2inst1/sqllib/backup/dbmcfg.lst.220918
hw0-Test-DB/config/db2inst1/sqllib/backup/dbmcfg.lst.220918.0
hw0-Test-DB/config/db2inst1/sqllib/backup/dbmcfg.lst.220919
hw0-Test-DB/config/db2inst1/sqllib/backup/dbmcfg.lst.220919.0
hw0-Test-DB/config/db2inst1/sqllib/backup_profile.env
hw0-Test-DB/config/db2inst1/sqllib/bin
hw0-Test-DB/config/db2inst1/sqllib/bnd
hw0-Test-DB/config/db2inst1/sqllib/cfg/.db2PosixIPC.0000
hw0-Test-DB/config/db2inst1/sqllib/cfg/biors.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/bldlevel
hw0-Test-DB/config/db2inst1/sqllib/cfg/ctlib.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/db2dj.ini
hw0-Test-DB/config/db2inst1/sqllib/cfg/db2ese.lvl
hw0-Test-DB/config/db2inst1/sqllib/cfg/db2fodc.profile
hw0-Test-DB/config/db2inst1/sqllib/cfg/DefHealthRules.reg
hw0-Test-DB/config/db2inst1/sqllib/cfg/DigiCertGlobalRootCA.arm
hw0-Test-DB/config/db2inst1/sqllib/cfg/DJUpdateIniInput.dtd
hw0-Test-DB/config/db2inst1/sqllib/cfg/DJUpdateIniOutput.dtd
hw0-Test-DB/config/db2inst1/sqllib/cfg/drda.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/federated_support.lvl
hw0-Test-DB/config/db2inst1/sqllib/cfg/flatfile.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/HealthRulesV82.reg
hw0-Test-DB/config/db2inst1/sqllib/cfg/IBMLDAPSecurity.ini.sample
hw0-Test-DB/config/db2inst1/sqllib/cfg/informix.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/jdbc.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/mq
hw0-Test-DB/config/db2inst1/sqllib/cfg/mssql3.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/net8.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/odbc.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/odbcinst.ini
hw0-Test-DB/config/db2inst1/sqllib/cfg/odbcinst.ini.bak
hw0-Test-DB/config/db2inst1/sqllib/cfg/script.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/teradata.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/wrapper.dtd
hw0-Test-DB/config/db2inst1/sqllib/cfg/wrapper_discovery.dtd
hw0-Test-DB/config/db2inst1/sqllib/cfg/ws.xml
hw0-Test-DB/config/db2inst1/sqllib/cfg/xml.xml
hw0-Test-DB/config/db2inst1/sqllib/cfgcache/conlic.bin
hw0-Test-DB/config/db2inst1/sqllib/conv
hw0-Test-DB/config/db2inst1/sqllib/ctrl/.db2pgrp.000
hw0-Test-DB/config/db2inst1/sqllib/ctrl/.fencedID
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2start.efda0cc63f46.20220918023906.P14681.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2start.efda0cc63f46.20220918024428.P16483.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2start.efda0cc63f46.20220918025827.P16509.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2start.efda0cc63f46.20220919005842.P16517.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918023728.P11850.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918024059.P183.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918024337.P13550.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918024834.P17730.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918024856.P165.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918025330.P165.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220918025611.P13576.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220919005522.P165.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220919005747.P13570.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stop.efda0cc63f46.20220919174338.P165.errlog
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2strst.lck
hw0-Test-DB/config/db2inst1/sqllib/ctrl/db2stst.0000
hw0-Test-DB/config/db2inst1/sqllib/ctrl/online.add
hw0-Test-DB/config/db2inst1/sqllib/ctrlha/.db2.000.efda0cc63f46.pgrp
hw0-Test-DB/config/db2inst1/sqllib/ctrlhamirror/.db2.000.efda0cc63f46.pgrp.mirror
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2ccfn
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2dasdbfn
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2dasfn
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2isdas
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2KnownDscvSrv
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2licsrv
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2mdfile
hw0-Test-DB/config/db2inst1/sqllib/dasfcn/db2schedapis
hw0-Test-DB/config/db2inst1/sqllib/db2cshrc
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/db2diag.log
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/db2eventlog.000
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/db2inst1.nfy
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/db2sampl_Import.msg
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/events/.db2optstats.rotate.lck
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/events/db2optstats.0.log
hw0-Test-DB/config/db2inst1/sqllib/db2dump/DIAG0000/stmmlog/stmm.0.log
hw0-Test-DB/config/db2inst1/sqllib/db2nodes.cfg
hw0-Test-DB/config/db2inst1/sqllib/db2nodes.cfg.orig
hw0-Test-DB/config/db2inst1/sqllib/db2profile
hw0-Test-DB/config/db2inst1/sqllib/db2systm
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/adminTool
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/adminTool.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/bkuptscfg.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/configTool
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/configTool.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/dumpIndex
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/dumpIndex.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/logformatter
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/richtextTool
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/richtextTool.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/setup.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/setup_jdk_path.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/shutdown.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/startup.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/stopwordTool
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/stopwordTool.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/synonymTool
hw0-Test-DB/config/db2inst1/sqllib/db2tss/bin/synonymTool.sh
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/build_info.properties
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/configuration.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/constructors.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/constructors.xsd
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/defaults/binary_recognizer_config.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/defaults/default_configuration.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/defaults/parser_config.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/af-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/af-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ar-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ar-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ca-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ca-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/cs-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/cs-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/da-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/da-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/de-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/de-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/el-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/el-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/en-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/en-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/es-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/es-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/fi-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/fi-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/fr-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/fr-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/he-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/he-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/it-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/it-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ja-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ja-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ko-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ko-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nb-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nb-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nl-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nl-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nn-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/nn-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/pl-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/pl-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/pt-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/pt-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ru-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/ru-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/stopwordsJFrost.xsd
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/sv-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/sv-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/tr-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/tr-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/zh-Stw.dic
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/dictionaries/zh-Stw.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/ecmts_config_logging.properties
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/ecmts_logging.properties
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/mimetypes.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/releaseinfo/release.properties
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/parser_config.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-common-countries.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-financialservices-brokerage.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-financialservices-retailbanking.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-hr.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-commercialpandc.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-common.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-health.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-insurance-personalpandc.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-retail-apparel.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-software.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/config/samples/synonyms/synonym-en-telecom-wirelessphoneservices.xml
hw0-Test-DB/config/db2inst1/sqllib/db2tss/ddl
hw0-Test-DB/config/db2inst1/sqllib/db2tss/lib
hw0-Test-DB/config/db2inst1/sqllib/db2tss/log/trace0.log
hw0-Test-DB/config/db2inst1/sqllib/db2tss/plugins
hw0-Test-DB/config/db2inst1/sqllib/db2tss/resource
hw0-Test-DB/config/db2inst1/sqllib/doc
hw0-Test-DB/config/db2inst1/sqllib/federation
hw0-Test-DB/config/db2inst1/sqllib/fm.efda0cc63f46.reg
hw0-Test-DB/config/db2inst1/sqllib/function/db2json
hw0-Test-DB/config/db2inst1/sqllib/function/db2psmds
hw0-Test-DB/config/db2inst1/sqllib/function/db2rtsc
hw0-Test-DB/config/db2inst1/sqllib/function/fpeevm
hw0-Test-DB/config/db2inst1/sqllib/function/libdb2u.a
hw0-Test-DB/config/db2inst1/sqllib/function/tblpd
hw0-Test-DB/config/db2inst1/sqllib/function/unfenced/asnqmon
hw0-Test-DB/config/db2inst1/sqllib/function/unfenced/db2gsead
hw0-Test-DB/config/db2inst1/sqllib/gse
hw0-Test-DB/config/db2inst1/sqllib/gskit
hw0-Test-DB/config/db2inst1/sqllib/hmonCache/db2inst1/0/ossipcres/.ftok
hw0-Test-DB/config/db2inst1/sqllib/hmonCache/db2inst1/migr
hw0-Test-DB/config/db2inst1/sqllib/include
hw0-Test-DB/config/db2inst1/sqllib/infopop
hw0-Test-DB/config/db2inst1/sqllib/java
hw0-Test-DB/config/db2inst1/sqllib/json
hw0-Test-DB/config/db2inst1/sqllib/lib
hw0-Test-DB/config/db2inst1/sqllib/lib32
hw0-Test-DB/config/db2inst1/sqllib/lib64
hw0-Test-DB/config/db2inst1/sqllib/log/instance.log
hw0-Test-DB/config/db2inst1/sqllib/map
hw0-Test-DB/config/db2inst1/sqllib/misc
hw0-Test-DB/config/db2inst1/sqllib/msg
hw0-Test-DB/config/db2inst1/sqllib/nodes.reg
hw0-Test-DB/config/db2inst1/sqllib/pd
hw0-Test-DB/config/db2inst1/sqllib/profile.env
hw0-Test-DB/config/db2inst1/sqllib/python
hw0-Test-DB/config/db2inst1/sqllib/R
hw0-Test-DB/config/db2inst1/sqllib/Readme
hw0-Test-DB/config/db2inst1/sqllib/samples
hw0-Test-DB/config/db2inst1/sqllib/security/db2aud
hw0-Test-DB/config/db2inst1/sqllib/security/db2audit.cfg
hw0-Test-DB/config/db2inst1/sqllib/security/db2chkau
hw0-Test-DB/config/db2inst1/sqllib/security/db2chpw
hw0-Test-DB/config/db2inst1/sqllib/security/db2ckpw
hw0-Test-DB/config/db2inst1/sqllib/security/db2flacc
hw0-Test-DB/config/db2inst1/sqllib/security32/plugin/IBM
hw0-Test-DB/config/db2inst1/sqllib/security64/plugin/IBM
hw0-Test-DB/config/db2inst1/sqllib/spmlog/SPMLOG.LCF
hw0-Test-DB/config/db2inst1/sqllib/spmlog/SPMLOGSD/SPM00000.LOG
hw0-Test-DB/config/db2inst1/sqllib/spmlog/SPMLOGSD/SPM00001.LOG
hw0-Test-DB/config/db2inst1/sqllib/spmlog/SPMLOGSD/SPM00002.LOG
hw0-Test-DB/config/db2inst1/sqllib/sqldbdir/sqldbbak
hw0-Test-DB/config/db2inst1/sqllib/sqldbdir/sqldbdir
hw0-Test-DB/config/db2inst1/sqllib/sqldbdir/sqldbins
hw0-Test-DB/config/db2inst1/sqllib/tmp/DB2VEND.STDIN.0.1.166346905980097
hw0-Test-DB/config/db2inst1/sqllib/tmp/DB2VEND.STDIN.0.1.1663469898479
hw0-Test-DB/config/db2inst1/sqllib/tmp/DB2VEND.STDOUT.0.1.166346905980097
hw0-Test-DB/config/db2inst1/sqllib/tmp/DB2VEND.STDOUT.0.1.1663469898479
hw0-Test-DB/config/db2inst1/sqllib/tools
hw0-Test-DB/config/db2inst1/sqllib/uif/lic_comp_NODE0000.dt
hw0-Test-DB/config/db2inst1/sqllib/usercshrc
hw0-Test-DB/config/db2inst1/sqllib/userprofile
hw0-Test-DB/config/db2inst1/test.out
hw0-Test-DB/config/db2inst1/test.sql
hw0-Test-DB/config/global.reg
hw0-Test-DB/config/instance.cfg
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000000/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000000/C0000000.CAT
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000001/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000001/C0000000.TMP/SQLTAG.NAM
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000002/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000002/C0000000.LRG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000003/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000003/C0000000.LRG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000004/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/SAMPLE/T0000004/C0000000.LRG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/db2rhist.asc
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/db2rhist.bak
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/db2rhist.lock
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000005.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000006.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000007.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000008.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000009.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000010.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000011.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000012.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000013.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000014.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000015.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000016.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000017.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000018.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000019.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/LOGSTREAM0000/S0000020.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/db2event/db2detaildeadlock/00000000.evt
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/db2event/db2detaildeadlock/db2event.ctl
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/DB2TSCHG.HIS
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLBP.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLBP.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLDBCONF
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLINSLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLOGCTL.LFH.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLOGCTL.LFH.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLOGMIR.LFH
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLTMPLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/MEMBER0000/SQLWLMADMDAT
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLDBCONF
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLOGCTL.GLFH.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLOGCTL.GLFH.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLSGF.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLSGF.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLSPCS.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00001/SQLSPCS.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/db2rhist.asc
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/db2rhist.bak
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/db2rhist.lock
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/LOGSTREAM0000/S0000000.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/LOGSTREAM0000/S0000001.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/LOGSTREAM0000/S0000002.LOG
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/db2event/db2detaildeadlock/00000000.evt
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/db2event/db2detaildeadlock/db2event.ctl
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLBP.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLBP.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLDBCONF
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLINSLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLOGCTL.LFH.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLOGCTL.LFH.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLOGMIR.LFH
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLTMPLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/MEMBER0000/SQLWLMADMDAT
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLDBCONF
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLOGCTL.GLFH.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLOGCTL.GLFH.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLSGF.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLSGF.2
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLSPCS.1
hw0-Test-DB/data/db2inst1/NODE0000/SQL00002/SQLSPCS.2
hw0-Test-DB/data/db2inst1/NODE0000/sqldbdir/sqldbbak
hw0-Test-DB/data/db2inst1/NODE0000/sqldbdir/sqldbdir
hw0-Test-DB/data/db2inst1/NODE0000/sqldbdir/sqldbins
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000000/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000000/C0000000.CAT
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000001/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000001/C0000000.TMP/SQLTAG.NAM
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000002/.SQLCRT.FLG
hw0-Test-DB/data/db2inst1/NODE0000/TESTDB/T0000002/C0000000.LRG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000000.LOG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000001.LOG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000002.LOG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000003.LOG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000004.LOG
hw0-Test-DB/logs/db2inst1/TESTDB/NODE0000/LOGSTREAM0000/C0000000/S0000005.LOG
*.220922
*.errlog
*.0
*.dft
*.000
*.LOG
*.1663881855623047
*.FLG
*.LRG
*.1664067375413224
*.220925
*.reg
*.220926
*.2
*.1
*.LFH
*.ctl
*.evt
*.evt
*.bak
*.bak
*.asc
*.NAM
*.CAT
*.1665522041839355
*.221011
hw0-Test-DB/data/db2inst1/NODE0000/SQL00003/MEMBER0000/SQLDBCONF
hw0-Test-DB/data/db2inst1/NODE0000/SQL00003/MEMBER0000/SQLINSLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00003/MEMBER0000/SQLTMPLK
hw0-Test-DB/data/db2inst1/NODE0000/SQL00003/MEMBER0000/SQLWLMADMDAT
hw0-Test-DB/data/db2inst1/NODE0000/SQL00003/SQLDBCONF
*.221014
*.lock
